@page "{id:int:min(0)}"
@model Testapp.Pages.Students.DetailsModel
@{
}
<form>
    <input asp-for="Student.Student.Firstname" />
    <input asp-for="Student.Student.Lastname" />
    <input asp-for="Student.Student.EnrollmentDate" />
</form>

