@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";

    string CshtmlPath = Path.Substring(Path.IndexOf("Pages/") + 5);
    ViewData["Path"] = CshtmlPath.Substring(0,CshtmlPath.IndexOf(".")); //valid href
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
